.nav-bar-container {
  width: 100%;
  height: 90px;
  background: #0e6bc7;
  box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14),
  0px 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.nav-menu-flex-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: inherit;
  height: inherit;
}

.nav-menu {
  display: flex;
  justify-content: space-around;
  font-size: 18px;
  font-weight: bold;
}

.nav-element:not(:last-child){
  margin-left: 10px;
}

.nav-element:last-child{
  margin-right: 10px;
}

.nav-element > a {
  text-decoration: none;
  color: white;
}


.nav-element > a:hover {
  color: lightgray;
}
