<div class="nav-bar-container">
  <div ngClass ="nav-menu-flex-wrapper">
    <div ngClass="nav-menu">
      <!-- Структурной директивой заполняем шапку ссылками на страницы  -->
      <div class="nav-element" *ngFor="let item of menu">
        <a  [routerLink] = "item.routerLink">{{item.name}}</a>
      </div>
    </div>
  </div>
</div>
