.sort-table > p:after {
  content: url("https://img.icons8.com/material-outlined/20/000000/sort.png");
}

.add-to-table > p:after {
  content: url("https://img.icons8.com/material-outlined/20/000000/add.png");
}

.remove-from-table > p:after {
  content: url("https://img.icons8.com/material-outlined/20/000000/filled-trash.png");
}
