<div class="control-panel-element selectable sort-table"><p class="withIcons">Отсортировать</p></div>
<div class="control-panel-element"><p>Найти</p><input></div>
<div class="control-panel-element selectable add-to-table"><p class="withIcons">Добавить</p></div>
<div class="control-panel-element selectable remove-from-table"><p class="withIcons">Удалить</p></div>
