.centred-icons {
  margin-left: 35%;
}

.prev-video > p:after {
  content: url("https://img.icons8.com/material-outlined/24/000000/double-left.png");
}

.play-video > p:after {
  content: url("https://img.icons8.com/material-outlined/24/000000/play.png");
}

.stop-video > p:after {
  content: url("https://img.icons8.com/material-outlined/24/000000/circled-pause.png");
}

.next-video > p:after {
  content: url("https://img.icons8.com/material-outlined/24/000000/double-right.png");
}
