<div class="control-panel-element selectable prev-video"><p class="centred-icons withIcons"></p></div>
<div class="control-panel-element selectable play-video"><p class="centred-icons withIcons"></p></div>
<div class="control-panel-element selectable stop-video"><p class="centred-icons withIcons"></p></div>
<div class="control-panel-element selectable next-video"><p class="centred-icons withIcons"></p></div>
