.pic-edit > p:after {
  content: url("https://img.icons8.com/material-outlined/20/000000/edit.png");
}

.pic-save > p:after {
  content: url("https://img.icons8.com/material-outlined/20/000000/save.png");
}

.pic-share > p:after {
  content: url("https://img.icons8.com/material-outlined/20/000000/share.png");
}
