<div class="control-panel-element selectable pic-edit" ><p class="withIcons">Редактировать</p></div>
<div class="control-panel-element selectable pic-save"><p class="withIcons">Сохранить</p></div>
<div class="control-panel-element selectable pic-share"><p class="withIcons">Поделится</p></div>
