<div class="page">
  <div class="worker-container" style="text-align: center">
    <h1>ФИО сотрудника:</h1>
    <h2>Иван Иванович Иванов</h2>
    <h1>Должность</h1>
    <h2>Комплектовщик</h2>
  </div>
</div>
