<div class="control-panel-element selectable select-all"><p class="withIcons">Выделить все</p></div>
<div class="control-panel-element selectable find-word"><p class="withIcons">Найти слово</p></div>
<div class="control-panel-element">
  <div><p>Масштаб текста</p></div>
  <p><select>
  <option disabled>Масштаб</option>
  <option value="t1">50%</option>
  <option value="t2" selected>100%</option>
  <option value="t3">150%</option>
  <option value="t4">200%</option>
</select></p></div>
