
.find-word > p::after {
  content: url("https://img.icons8.com/material-outlined/20/000000/find-and-replace.png");
}
.select-all > p::after {
  content: url("https://img.icons8.com/material-outlined/20/000000/select-all.png");
}
