.control-panel {
  position: absolute;
  width: 200px;
  background: white;
  box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
  max-height: 100%;
  overflow-y: scroll;
  top: 100px;
}

.control-panel-flex-wrapper {
  display: flex;
  flex-direction: column;
}

.control-panel-title {
  margin: 0;
  padding: 20px;
  border-bottom: 1px solid black;
  background: rgba(179, 177, 177, 0.74);
}

