body {
  font: 400 14px/20px Roboto,Helvetica Neue,sans-serif;
  letter-spacing: normal;
  background: linear-gradient(90deg,#3f50b5,transparent);
  margin: 0;
}
html,body {
  height: 100%;
  width: 100%;
}
