<div class="page">
  <iframe id="ytplayer" class="video-container" type="text/html"  height="360" style="width: 45vw"
          src="http://www.youtube.com/embed/HmZKgaHa3Fg?autoplay=0&origin=http://example.com&controls=0"></iframe>
</div>
