.control-panel-element {
  margin: 0;
  padding: 10px;
  border-bottom: 1px solid black;
}

.selectable:hover{
  background: #dbdbdb;
  cursor: pointer;
  border-bottom: 5px;
}

.withIcons::after {
  width: 20px;
  height: 20px;
  padding-left: 10px;
  content:' ';
}
